<div class="container pt-5">
    <h2>Contact Us</h2>
    <div class="bg-light" style="padding: 2px; text-align: justify;">
        <p>
            Have questions, suggestions, or need assistance? We're here to help! Feel free to reach out to our dedicated
            support team through any of the following channels:
        </p>

        <u>Customer Support:</u>
        <ul>
            <li>
                Email:
                <a href="mailto:support@icinonlinebanking.com">
                    support@icinonlinebanking.com
                </a>
            </li>
            <li>Phone: +1-800-123-4567 (Mon-Fri, 9 AM - 6 PM EST)</li>
        </ul>

        <u>General Inquiries:</u>
        <ul>
            <li>
                Email:
                <a href="mailto:info@icinonlinebanking.com">
                    info@icinonlinebanking.com
                </a>
            </li>
            <li>Phone: +1-800-987-6543 (Mon-Fri, 9 AM - 6 PM EST)</li>
        </ul>


        <u>Address:</u><br>
        <div class="pl-4">
            <i>
                ICIN Online Banking Headquarters,<br>
                123 Main Street,<br>
                Cityville, State - 12345,<br>
                United States.
            </i>
        </div>

    </div>

</div>