<div class="container p-5 text-center">

    <h2>My Transactions</h2>


    <table class="table table-dark alert-" style="border: 2px solid rgba(183, 161, 138, 0.333);">
        <thead style="background-color: rgba(183, 161, 138, 0.333);">
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Account No</th>
                <th>Description</th>
                <th>Withdrawals</th>
                <th>Deposits</th>
                <th>Current Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of response">
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>
                    <span *ngIf="item[2] == myAccountNo"> <!-- Sender -->
                        {{item[3]}}
                    </span>
                    <span *ngIf="item[3] == myAccountNo"> <!-- Receiver -->
                        {{item[2]}}
                    </span>
                </td>
                <td>{{item[7]}}</td>
                <td>
                    <span *ngIf="item[6] === 'Debit'" class="text-danger">
                        - {{item[4]}}
                    </span>
                </td>
                <td>

                    <span *ngIf="item[6] === 'Credit'" class="text-success">
                        + {{item[4]}}
                    </span>
                </td>
                <td>{{item[5]}}</td>
            </tr>
        </tbody>
    </table>
</div>