<div class="container p-5">
    <table class="text-center">
        <tr>
            <td>
                <h1>Welcome {{firstName}} {{lastName}}</h1>
            </td>

        </tr>
        <tr>
            <td>
                <a href="/account-info">
                    <button class="btn btn-lg bg-info text-light">Account Info</button>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/my-cheque-book">
                    <button class="btn btn-lg bg-warning">Request for Cheque Book</button>
                </a>

            </td>
        </tr>
        <tr>
            <a href="/money-transfer">
                <td>
                    <button class="btn btn-lg bg-primary text-light">Transfer Money</button>
                </td>
            </a>
        </tr>
    </table>
</div>