<table class="text-center mt-3" style="margin-left: 10%;">
    <tr>
        <td rowspan="4">
            <img src="./assets/bank1.jpg" width="800px">
        </td>
    </tr>

    <tr>
        <td>
            <a [routerLink]="['/admin-login']" class="btn btn-lg btn-dark">Admin Login</a>
    </tr>
    <tr>
        <td>
            <a [routerLink]="['/user-login']" class="btn btn-lg btn-primary">User Login</a>
        </td>
    </tr>
    <tr>
        <td>
            <a [routerLink]="['/new-account']" class="btn btn-lg btn-success">New Account</a>

        </td>
    </tr>
</table>